# /etc/systemd/system/efabbot.service
[Unit]
Description=Errror's Fritzbox Anrufbeantworter Bot
After=network.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=True
ExecStart=/efabbot/efabbot.py /efabbot/EFABBot.ini
DynamicUser=yes

[Install]
WantedBy=multi-user.target
